@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  main {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children vertically */
    align-items: flex-start; /* Align items at the start (left) */
    padding: 1em; /* Add padding */
    height: 100vh; /* Take full height of the viewport */
    background-color: #000000; /* Background color */
  }

  h1 {
    @apply absolute bottom-4 left-4;
    @apply text-4xl;
    @apply text-left;
    /* apply color: EEE5D9; */
    color: #EEE5D9;
    line-height: 1.5; /* Set line height */
  }

  .h1-alt {
    @apply absolute bottom-4 left-4;
    @apply text-gray-100;
    @apply text-4xl;
    @apply text-left;
    /* apply color: EEE5D9; */
    color: #D03129;
    line-height: 1.5; /* Set line height */
  }

  h2 {
    font-family: 'Sigurd', sans-serif, 'light'; /* Use custom font family */
    left: 0px; /* Add some left margin */
    @apply text-gray-100;
    @apply text-4xl;
    @apply text-justify;
    margin-top: 1em; /* Remove default margin */
    margin-bottom: 1em; /* Add some bottom margin */
  }
}

.icon-bottom-right {
  @apply absolute bottom-4 right-4;
  color: #EEE5D9;
  transform: scale(1.5);
}

.icon-bottom-right-alt {
  @apply absolute bottom-4 right-4;
  color: #D03129;
  transform: scale(1.5);

}

.on-color {
  background-color: #EEE5D9;
}

.off-color {
  background-color: #000000;
}