@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

// h1 has font of neue-haas and a size of 1 em by default and is left aligned in bottom left
@layer components {
  h1 {
    @apply font-neue-haas;
    @apply text-gray-100;
    @apply text-4xl;
    @apply text-left;
    @apply bottom-0;
    @apply left-0;
  }
}

// h2 has font of sigurd and a size of 1 em by default and has text justified alignment in top left 
@layer components {
  h2 {
    @apply font-sigurd;
    @apply text-white;
    @apply text-4xl;
    @apply text-justify;
    @apply top-0;
    @apply left-0;
  }
}